extends layout

block content
  .d-flex.align-items-center.justify-content-between
    h2
    h2.text-center 文章一覧
    a(href='/sentences/new')
      btn.btn.btn-primary 文章追加
  table.table
    thead
      tr
        th 文章
        th かな
        th 削除
        th 編集
    tbody
      each item in data
        tr
          td=item.sentence
          td=item.kana
          td
            a(href=`/sentences/edit/${item.id}`) 編集
          td
            a.del-link(href='javascript:void(0)' data-id=item.id data-sentence=item.sentence data-kana=item.kana) 削除
  script(src='/js/sentences.js')